@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply text-xl leading-8 font-quickSand bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500;
}
.thumbnail {
  @apply object-cover rounded-full w-96 h-96;
}
.player {
  @apply flex items-center justify-around h-screen;
}
.trackbar {
  @apply w-full transition duration-75 ease-in bg-gray-500;
}
/* Button */
.playButton {
  @apply px-4 py-2 transition duration-500 ease-in-out transform outline-none rounded-xl opacity-90 hover:scale-105 hover:opacity-100;
}
.is-green {
  @apply text-red-500 bg-green-400;
}
.playlist {
  @apply w-80;
}
.playlist__surah {
  @apply flex justify-between w-full px-2 py-1 border border-red-400 cursor-pointer hover:bg-green-300 hover:text-white;
}
.playlist__surah--active {
  @apply text-green-500 bg-black;
}
.playlist__surah--active div {
  color: inherit;
}

.play-pause {
  @apply mr-4;
}
.playlist__surah-details {
  @apply mr-auto;
}
.cover {
  animation: spin 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 10s infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Tracker */
.trackbar__progress {
  width: 0%;
}
