@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500;
}
.app {
  @apply text-lg leading-8 xl:text-xl font-quickSand;
}
.thumbnail {
  @apply object-cover rounded-full w-96 h-96;
}
.player {
  @apply flex flex-col items-center justify-around gap-2 xl:h-screen xl:flex-row xl:gap-0;
}
.trackbar {
  @apply w-full transition duration-75 ease-in bg-gray-500;
}
/* Button */
.playButton {
  @apply px-4 py-2 transition duration-500 ease-in-out transform outline-none rounded-xl opacity-90 hover:scale-105 hover:opacity-100;
}
.is-green {
  @apply text-red-500 bg-green-400;
}
.playlist {
  @apply overflow-y-auto h-84 w-84 xl:w-96;
}
.playlist__header {
  @apply flex justify-between px-2 py-1 overflow-hidden bg-green-300;
}
.playlist__surah {
  @apply flex justify-between w-full px-2 py-1 border border-red-400 cursor-pointer hover:bg-green-400 hover:text-white;
}
.playlist__surah--active {
  @apply text-green-500 bg-gray-900;
}
.playlist__surah--active div {
  color: inherit;
  @apply text-pink-500;
}
.playlist__surah-reciter {
  @apply text-sm font-bold tracking-wider text-white;
}

.play-pause {
  @apply mr-4;
}
.playlist__surah-details {
  @apply mr-auto;
}
.cover {
  animation: spin 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 10s infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Tracker */
.trackbar__progress {
  width: 0%;
}
.controls button,
.shuffle {
  outline: none;
}
